* {
    font-family: Grannat, sans-serif;
}

body {
    background-color: #2c2c2c;
    color: white;
}

h1 {
    text-align: center;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: rgb(126, 0, 0);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.grid {
    background-color: #191919;
    position: relative;
    padding: 24px;
    width: 1140px;
    margin: 16px auto;
    display: grid;
    grid-template-columns: repeat(6, 180px);
    gap: 12px;
}

.book-item {
    width: 180px;
    height: auto;
    overflow: hidden;
    border-radius: 8px;
}

.cover {
    width: 180px;
    height: 300px;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 10px;
    gap: 5px;
    background-color: rgb(66, 66, 66);
    height: 24px;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    transition: 0.3s ease height;
    height: 100%;
}

h4 {
    margin: 0;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.read {
    color: lime;
}

.not-read {
    color: red;
}

.pages {
    font-weight: 700;
}

p {
    font-size: 16px;
    margin: 0;
}

#new-book {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#new-book-form {
    width: 600px;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #191919;
    padding: 0px 24px 24px 24px;
    border-radius: 8px;
    border: 3px solid black;
    display: none;
    margin-left: -325px;
    margin-top: -227px;
}

.input-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}

#new-book-form input {
    padding: 8px;
    font-size: 18px;
    border: none;
    border: 2px solid transparent;
    transition: ease 0.25s border-color;
}

#new-book-form input:focus {
    outline: none;
    border-color:  rgb(126, 0, 0);
}

.checkbox{
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    position: relative; 
    margin: 0;
    margin-bottom: 24px;
}

#form-topbar {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin-left: -24px;
    margin-right: -24px;
    padding: 8px 12px 8px 12px;
    align-items: center;
    margin-bottom: 24px;
}

.form-topbar-logo {
    width: 16px;
    height: 16px;
}

#form-topbar-cross {
    cursor: pointer;
    font-size: 24px;
}